.movie-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
}








@media screen and (max-width:747px) {
  .movie-display {
  display: flex;
  flex-direction: column
  // grid-template-columns: "1fr 1fr";
  // align-items: center;
  // gap: 1rem
  

  }
} 

