.tomato-logo {
  width: 10%;
  height: 10%;
}

h1 {
    color: #f50202;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(255, 13, 0),
        0 0 82px rgb(255, 13, 0),
        0 0 92px rgb(255, 13, 0),
        0 0 102px rgb(255, 13, 0),
        0 0 151px rgb(255, 13, 0);
}