.backArrow {
  height: 50px;
  width: 50px;
}

.backArrow:hover {
  cursor: pointer;
}

.movie-title {
  color: #090909;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
  font-size: 40px;
  font-family: 'Young Serif', serif;
}

h2 {
  color: whitesmoke;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

.label {
  font-size: 3vw;
  font-weight: bolder;
  font-family: 'Pixelify Sans', sans-serif;
}

.movie-image {
  width: 200px;
  height: 300px;
}



.loading-screen {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  border: 1px solid red;
  animation: up 1s;
  animation-iteration-count: infinite;
  transition: 2s;
  border-bottom: none;
  border-right: none;
  animation-timing-function: linear;
  margin-left: -70px;
  margin-top: -70px;
  left: 50%;
  top: 50%;
}

#img2 {
  width: 90px;
  height: 90px;
  left: 50.35%;
  top: 50.7%;
  animation-delay: 0.2s;
}
#img3 {
  width: 80px;
  height: 80px;
  left: 50.7%;
  top: 51.4%;
  animation-delay: 0.4s;
}
#img4 {
  width: 70px;
  height: 70px;
  left: 51.05%;
  top: 52.1%;
  animation-delay: 0.6s;
}
#img5 {
  width: 60px;
  height: 60px;
  left: 51.4%;
  top: 52.8%;
  animation-delay: 0.8s;
}

@keyframes up {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

