h2 {
  color: whitesmoke;
}

.movie {
  box-shadow: 5px 5px 10px rgb(145, 137, 137); 
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-img {
  cursor: pointer
}


@media screen and (max-width: 768px) {
  .movie {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
  }

  .movie-img {
    width: 100px; 
    max-width: 200px;
    height: auto;
  }
}

.overview {
  display: flex;
  flex-wrap: wrap; 
  width: 400px;
  text-align: justify
}
